# Main DL, audio module
torch>=1.10.0
numpy
librosa==0.8.1
soundfile
pydub

# Metrics (SDR) module
mir_eval
torch_mir_eval

# Ultilities
tqdm
pyyaml==5.4.1
matplotlib
tensorboardX
Pillow

# Backup to google drive 
PyDrive2==1.10.0
gdown

# From Zalo Solutions
yacs==0.1.4

# Visualize, BI
jupyter-dash==0.4.2

torchmetrics
torchmetrics[audio]
pesq

# For DNSMOS
onnxruntime-gpu

# For model performance analysis
torchinfo==1.7.0
thop